@tailwind base;
@tailwind components;
@tailwind utilities;

td select {
  background-color: #367362;
  padding: 0 10px;
  border-radius: 5px;
  transition-timing-function: ease-in-out;
}

td select:hover {
  transform: scale(1.05);
  outline: none;
  transition: all;
  transition-duration: 100ms;
  cursor: pointer;
}
